<div class="navbar navbar-dark navbar-expand-sm" style="background-color: #b8a9b7">
    <div class="container-fluid">

        <a href="/" class="navbar-brand">Bakkal Uygulamasi</a>

        <ul class="navbar-nav ml-auto">
           
             
                <li class="nav-item">
                    <a href="/Hesap/Logout" class="nav-link text-white"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
                </li>
          
           
                <li class="nav-item">
                    <a href="/Hesap/Login" class="nav-link">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a href="/hesap/kullanıcı/ekle" class="nav-link">Kayıt Ol</a>
                </li>
            
        </ul>
    </div>
</div>
