@model List<BakkalUygulamasi.entity.Data.Rol>
<div class="w-100">
    <div class="row">
        <div class="com-md-12">
            <h1 class="h3">Roller</h1>
            <hr />
            <a class="btn btn-primary btn-sm" href="/hesap/rol/ekle">Rol Ekle</a>
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <td style="width:70px;">Id</td>
                        <td style="width:1000px">Rol Adı</td>
                        <td style="width:170px;"></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RolId</td>
                            <td>@item.RAdi</td>
                            <td>
                                <a href="/hesap/rol/guncelle/@item.RolId" class="btn btn-primary btn-sm mr-2">Düzenle</a>

                                <form action="/hesap/rolsil" method="POST" style="display:inline">
                                    <input type="hidden" name="rolId" value="@item.RolId" />
                                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                </form>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

        </div>
    </div>
</div>
